.navigation
  %nav.gnav.fixed
    %ul
      %li
        = link_to "TASK", "#", class: "link"
      %li
        = link_to "MEMBER", "#", class: "link"
      %li
        = link_to "MESSAGE", "#", class: "link"