.navigation
  %nav.gnav.fixed
    %ul
      %li
        = link_to "TASK", "/task", class: "link"
      %li
        = link_to "MEMBER", "/member", class: "link"
      %li
        = link_to "CHAT", "/chat", class: "link"
      %li
        = link_to "MY PAGE", "", class: "link"