.task-wrap
  .header
    .header__name
      イベント名
    .header__member
      倉島、佐藤、貴田
  .task-field
    //タスクのリスト本体
    .task-box
      .task-box__title
        Product back log
      %ul.task-box__content
        %li.task-box__content--list
          hello
        %li.task-box__content--list
          こんにちは
        %li.task-box__content--list
          ohayou

    .task-box
      .task-box__title
        Doing
      %ul.task-box__content
        %li.task-box__content--list
          hello
        %li.task-box__content--list
          こんにちは
        %li.task-box__content--list
          ohayou

    .task-box
      .task-box__title
        Compleate
      %ul.task-box__content
        %li.task-box__content--list
          hello
        %li.task-box__content--list
          こんにちは
        %li.task-box__content--list
          ohayou




= render "share/navigation"
