.compleate-wrap
  %h1.compleate-title
    registration is compleated !

  // 主要ブロック
  .compleate-box
    .compleate-box__head
      = @user.name
      様
      %br
      会員登録ありがとうございます
    .compleate-box__foot
      「Login」ボタンからログインしてご利用ください。
      %br
      %br
      EventGeek supports your event !

  // フッターのボタン
  .compleate-footer
    %button.compleate-footer__button
      = link_to "Login", root_path, class: "compleate-link"
  .copyright
    Copyright© Ryo Kurashima