// share/accountページ
.account-wrap{
  height: calc(100% - 58px - 60px);
  width: 100%;
  box-sizing: border-box;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  position: fixed;
  top: 5.8rem;
  overflow: auto;

  // 基本情報のブロック
  .account-box{
    margin: auto;
    width: 70rem;
    height: auto;
    background: whitesmoke;
    box-sizing: border-box;
    padding: 3rem 5rem 0 5rem;
    border: solid 0.5px #ccc;
    box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);

    // ブロックの見出し
    &__title{
      font-size: 2rem;
      color: #333333;
      border-bottom: solid 0.1rem #AAAAAA;
    }

    // ブロック内の情報セクション
    .account-data{
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;

      // 各項目と内容の行
      &__row{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 3rem 0 3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // 内容の項目
        &--headline{
          display: inline-block;
          color: #333333;
        }
        &--avatar{
          display: inline-block;
          display: flex;
          flex-flow: column;
          justify-content: center;
          text-align: center;

          // アバターを登録している場合
          .registration-avatar--active{
            height: 8rem;
            width: 8rem;
            border: solid 0.5px #ccc;
            border-radius: 100%;
            margin-bottom: 0.3rem;
          }

          // アバター未登録の場合
          .registration-avatar--disabled{
            font-size: 8rem;
            margin-bottom: 0.3rem;
            opacity: 0.3;
          }

          // ユーザー名
          .registration-avatar--name{
            margin-top: 0.2rem;
            font-size: 1.8rem;
            max-width: 35rem;
            overflow: hidden;
            white-space: nowrap;
            color: #333333;
          }
        }

        // 変更ボタン
        &--button{
          display: inline-block;
          font-size: 1.5rem;
          padding: 0.3em 1em;
          text-decoration: none;
          color: steelblue;
          border: solid 0.2rem steelblue;
          background: whitesmoke;
          border-radius: 0.2rem;
        }
        &--button:hover{
          opacity: 0.5;
        }
        &--email{
          display: inline-block;
          max-width: 38rem;
          white-space: nowrap;
          overflow: hidden;
          color: #333333;
        }
        &--password{
          display: inline-block;
          color: #333333;
        }

        // グループ情報のブロック
        &--group-total{
          display: inline-block;
          color: #333333;
        }
        &--task-total{
          display: inline-block;
          max-width: 40rem;
          overflow: hidden;
          white-space: nowrap;
          color: #333333;
        }
      }

      // アンダーライン
      .border-bottom{
        border-bottom: solid 0.1rem #AAAAAA;
      }
    }
  }
  .account-box.margin{
    margin-top: 5rem;
  }
}





// share/account レスポンシブ（タブレット対応）
@media screen and (max-width: 769px){

  .account-wrap{
    padding: 3.5rem 5% 3.5rem 5%;

    // 基本情報のブロック
    .account-box{
      width: 100%;
      height: auto;
      background: initial;
      border: initial;
      border: solid 0.5px #ccc;
      text-align: center;
      word-break: break-all;
      padding: 2.5rem 0 0 0;

      // ブロックの見出し
      &__title{
        margin-bottom: 2.5rem;
        display: inline-block;
        font-size: 2rem;
        border-bottom: initial;
        background: linear-gradient(transparent 70%, #a7d6ff 70%);   //下線
      }

      // ブロック内の情報セクション
      .account-data{
        justify-content: initial;

        // 各項目と内容の行
        &__row{
          height: auto;
          flex-flow: column;
          padding: initial;

          // 内容の項目
          &--headline{
            background: #EEEEEE;
            width: 100%;
            display: block;
            text-align: center;
            border-top: solid 0.5px #ccc;
            border-bottom: solid 0.5px #ccc;
            box-sizing: border-box;
            padding: 1rem 0;

          }
          &--avatar{
            margin-top: 2.5rem;

            // ユーザー名
            .registration-avatar--name{
              width: 100%;
              max-width: initial;
              white-space: normal;
              font-size: 1.6rem;
            }
          }

          // 変更ボタン
          &--button{
            margin-top: 2rem;
            margin-bottom: 2.5rem;

          }
          &--email{
            width: 100%;
            max-width: initial;
            white-space: normal;
            margin-top: 2.5rem;
            overflow-wrap: break-word;
            font-size: 1.6rem;

          }
          &--password{
            margin-top: 2.5rem;
            font-size: 1.6rem;
          }

          // グループ情報のブロック
          &--group-total{
            padding: 2.5rem 0 2.5rem 0;
            font-size: 1.6rem;
          }
          &--task-total{
            padding: 2.5rem 0 2.5rem 0;
            width: 100%;
            max-width: initial;
            white-space: normal;
            overflow-wrap: break-word;
            font-size: 1.6rem;
          }
        }

        // アンダーライン
        .border-bottom{
          border-bottom: none;
        }
      }
    }
  }
}





// share/account レスポンシブ（通常サイズのスマホ対応）
@media screen and (max-width: 481px){

  .account-wrap{
    height: calc(100% - 50px - 50px);
    top: 5rem;
    padding-top: 2rem;

    // 基本情報のブロック
    .account-box{
      // ブロックの見出し
      &__title{
        font-size: 1.8rem;
      }

      // ブロック内の情報セクション
      .account-data{
        // 各項目と内容の行
        &__row{
          &--avatar{
            // ユーザー名
            .registration-avatar--name{
              font-size: 1.4rem;
            }
          }

          // 変更ボタン
          &--button{
            font-size: 1.3rem;

          }
          &--email{
            font-size: 1.4rem;

          }
          &--password{
            font-size: 1.4rem;
          }

          // グループ情報のブロック
          &--group-total{
            font-size: 1.4rem;
          }
          &--group-name{
            font-size: 1.4rem;
          }
          &--members{
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}