// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// groups/show
.group-show-wrap{
  height: calc(100% - 58px - 60px);
  width: 100%;
  position: fixed;
  top: 5.8rem;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 2.5vw 3.5rem 2.5vw;
  display: flex;
  justify-content: space-between;

  // 左側のコンテンツ
  .main-wrap{
    width: 66.25vw;
    margin: 3.5rem 0 0 0;
    text-align: center;

    // グループメンバー
    .members-section{
      width: 100%;
      white-space: nowrap;    //はみ出しを折り返さない
      overflow-x: auto;       //横方向のスクロール
      box-sizing: border-box;
      padding: 1rem 0 1rem 0;
      margin-bottom: 5rem;
      display: flex;
      flex-flow: row;
      align-items: center;
      border-top: solid 1px #999999;
      border-bottom: solid 1px #999999;

      // 個別のユーザー
      &__user{
        height: 100%;
        width: 8.5rem;
        display: block;
        margin-right: 1rem;
        margin-left: 1rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;

        // 登録済みの場合
        .avatar{
          height: 6rem;
          width: 6rem;
          border-radius: 100%;
          box-sizing: border-box;
          border: solid 0.5px #ccc;
        }

        // 未登録の場合
        .blank-avatar{
          font-size: 6rem;
          opacity: 0.3;
        }
        &--name{
          height: 2.1rem;
          width: 8.5rem;
          font-size: 1.4rem;
          color: #333333;
          margin-top: 0.2rem;
          overflow: hidden;
        }
      }
    }
    .members-section::-webkit-scrollbar{
      display: none;
    }

    // 詳細情報
    .detail-section{
      width: 100%;
      background: whitesmoke;
      box-sizing: border-box;
      padding: 3rem 3% 3rem 3%;
      box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);
      display: flex;

      .left-container{
        width: 50%;
        text-align: left;
        .group-image{
          height: 17rem;
          width: 85%;
        }
      }

      .right-container{
        width: 50%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        text-align: left;
        color: #333333;
        &__list{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          &--left-space{
            width: 15rem;
            min-width: 15rem;
            white-space: nowrap;
          }
        }
      }
    }

    // 共有事項
    .notice-section{
      width: 100%;
      margin-bottom: 5rem;
      .notice-box{
        height: auto;
        width: 100%;
        background: whitesmoke;
        box-sizing: border-box;
        padding: 3rem 3% 3rem 3%;
        color: #333333;
        box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 3px 7px 3px rgba(0,0,0,0.5);

        // テキストが存在する場合
        &__body{
          height: 100%;
          width: 100%;
          word-break: break-all;
          overflow-wrap: break-word;      //日本語の場合、単語の途中であっても表示範囲に合わせて文字が折り返され、英語の場合は単語途中での改行は行わず、区切りの良い単語で改行するが、単語の長さが幅を超える場合は改行を行う
          text-align: left;
          font-size: 1.5rem;
          line-height: 3rem;
          letter-spacing: 0.1rem;
        }

        // テキストが存在しなかった場合
        &__blank-body{
          text-align: center;
        }
      }
    }
  }
}





// groups/show レスポンシブ（タブレット対応）
@media screen and (max-width: 999px){

  .group-show-wrap{
    display: flex;
    flex-flow: column;
    justify-content: initial;

    // 左側のコンテンツ
    .main-wrap{
      width: 100%;
      margin: 3.5rem auto 5rem auto;
    }
  }
}





// groups/show レスポンシブ（タブレット対応）
@media screen and (max-width: 769px){
  .group-show-wrap{
    .main-wrap{
      // 詳細情報
      .detail-section{
        display: flex;
        flex-flow: column;

        .left-container{
          width: 100%;
          margin-bottom: 1.5rem;
          .group-image{
            width: 100%;
            height: 20rem;
          }
        }

        .right-container{
          width: 100%;
          text-align: left;

          .margin{
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}





// groups/show レスポンシブ（通常サイズのスマホ対応）
@media screen and (max-width: 481px){

  .group-show-wrap{
    height: calc(100% - 50px - 50px);
    top: 5rem;
    padding: 2rem 0 2rem 0;
    margin: auto;

    // 左側のコンテンツ
    .main-wrap{
      width: 100%;
      margin: 0 0 5rem 0;

      // グループメンバー
      .members-section{
        padding: 0.8rem 0 0.8rem 0;
        margin-bottom: 1rem;

        // 個別のユーザー
        &__user{
          width: 7.5rem;
          margin-right: 0.3rem;
          margin-left: 0.3rem;

          // 登録済みの場合
          .avatar{
            height: 5rem;
            width: 5rem;
          }

          // 未登録の場合
          .blank-avatar{
            font-size: 5rem;
            opacity: 0.3;
          }
          &--name{
            height: 1.8rem;
            width: 7.5rem;
            font-size: 1.2rem;
          }
        }
      }
      .members-section::-webkit-scrollbar{
        display: none;
      }

      // 詳細情報
      .detail-section{
        padding: 2rem 3% 2rem 3%;

        .left-container{
          margin-bottom: 1rem;
          .group-image{
            height: 15rem;
          }
        }

        .right-container{
          font-size: 1.4rem;
          &__list{
            &--left-space{
              width: 13rem;
              min-width: 13rem;
            }
          }
          .margin{
            margin-bottom: 0.5rem;
          }
        }
      }

      // 共有事項
      .notice-section{
        margin-bottom: initial;
        .notice-box{
          font-size: 1.3rem;
          padding: 2rem 3% 2rem 3%;

          // テキストが存在する場合
          &__body{
            line-height: initial;
            letter-spacing: 0.5px;
          }

          // テキストが存在しなかった場合
          &__blank-body{
            text-align: center;
          }
        }
      }
    }
  }
}