// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-wrap{
  white-space: nowrap;
  overflow-x: auto;
  .task-field{
    margin: 25px auto 0;
    position: relative;
    box-sizing: border-box;
    width: auto;
    display: flex;
    justify-content: center;
    .task-box{
      height: auto;
      width: 330px;
      margin: 0 35px 0;
      &__title{
        background: #FFCC00;
        height: 50px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        padding-top: 18px;
      }
      &__content{
        margin-top: 13px;
        &--list{
          color: #404040;
          border-left: solid 6px steelblue;/*左側の線*/
          border-bottom: solid 2px #dadada;/*下に灰色線*/
          background: whitesmoke;
          margin-bottom: 8px;/*下のバーとの余白*/
          padding: 0.5em;
          list-style-type: none!important;/*ポチ消す*/
          font-weight: bold;
        }
      }
    }
  }
}