// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.toppage-wrap{
  height: 100vh;
  width: 100%;
  position: fixed;          //画面全体にfixedが効いているので別要素のoverflowには使用しない
  overflow: auto;
  text-align: center;
  .toppage-box{
    box-sizing: border-box;
    padding: 1% 85px;
    background: black;
    color: white;
    font-weight: bold;
    font-family: 'arial unicode ms';
    font-size: 1.8em;
    display: flex;
    margin-bottom: 3.5%;
    .toppage-title{
      text-align: left;
      width: 100%;
      &__awesome{
        display: inline-block;
        color:  #FFCC00;
        margin-right: 2%;
      }
      &__name{
        display: inline-block;
      }
    }
  }
}



.slideDown-awesome{
  display: inline-block;
}
.slideDown-awesome__group-bar{
  position: absolute;
  right: 10px;
  top: 80px;
  z-index: 5;
  text-align: center;
  &--list{
    flex-flow:column;
    height: 2.7em;
    width: 10em;
    background: steelblue;
    padding: 1.2em 0 0;
    border: solid 1px whitesmoke;
    font-size: 1.1em;
    margin-bottom: 0.3em;
  }
  .group-bar__list--action{
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  .slide-close{
    color: black;
    margin-top: 0.7em;
    font-size: 1.5em;
    display: inline-block;
  }
}







.group-bar__blank{
  display: flex;
  justify-content: center;
  &--button{
    border-radius: 3px;
    height: 2.7em;
    width: 10em;
    background: steelblue;
    padding: 1.2em 0 0;
    border-bottom: solid 6px #274A66;
    font-size: 1.1em;
    margin: 0 3% 0;
  }
  .group-bar__list--action{
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
}

.group-bar__blank--button:active{
  -webkit-transform: translateY(5px);
  transform: translateY(5px);         //沈み込み
  border-bottom: none;                //線を消す
}









.toppage-users{
  width: 100%;
  height: 140px;
  white-space: nowrap;    //はみ出しを折り返さない
  overflow-x: auto;       //横方向のスクロール
  position: relative;
  z-index: 1;
  .users-bar{
    &__avatar{
      display: inline-block;
      margin-right: 3em;
    }
    &__name{
      font-size: 1.1em;
    }
  }
  .all-avatar{
    height: 4em;
    width: 4em;
    border-radius: 50%;
  }
  .all-avatar__blank{
    font-size: 3.5em;
    padding-bottom: 8px;
  }
}

.fade-close{
  margin-top: 0.8em;
  font-size: 1.5em;
}










.toppage-notice{
  color: black;
  padding: 5% 20% 10%;
  .notice-header{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .notice-box{
    height: 30em;
    width: 100%;
    background: whitesmoke;
    overflow: auto;
    box-sizing: border-box;
    text-align: left;
    line-height: 3em;        //行間の高さ
    border: solid 1px;
    padding: 5%;
    letter-spacing: 1px;
  }
  .notice-box::-webkit-scrollbar{
    display: none;
  }
  .notice-box__content--blank{
    text-align: center;
  }
}