.header{
  margin-top: 3%;
  text-align: center;
  display: block;
  &__working{
    font-weight: bold;
    font-size: 20px;
  }
  &__member{
    margin-top: 3px;
    font-size: 15px;
    font-weight: 600;
  }
}