// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





// statuses/indexページ
.status-wrap {
  height: calc(100% - 58px - 60px);
  width: 100%;
  box-sizing: border-box;
  padding-top: 3.5rem;
  padding-bottom: 13.5rem;
  position: fixed;
  top: 5.8rem;
  overflow: auto;

  .table-wrap{
    // テーブルのタブ
    .status-tab{
      width: 32rem;
      margin: auto;
      display: flex;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      text-shadow: 1.5px 1.5px 3px black;
      color: #cdd2cf;
      li.active{
        background: #074770;
      }
      li{
        width: 100%;
        padding: 1rem 0 1rem 0;
        border: 0.2rem solid #ccc;
        background: steelblue;
      }
    }

    // テーブル
    .status-container{
      #switch{
        display: none;
      }
      .status-table{
        margin: auto;
        box-sizing: border-box;
        border-collapse: collapse;
        width: 135rem;
        box-shadow: 0 3px 7px 5px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 3px 7px 5px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 3px 7px 5px rgba(0,0,0,0.5);
        color: #333333;

        &__row{
          // 項目・見出し
          &--header{
            width: 1.6rem;
            height: 1em;
            background: #074770;
            text-shadow: 2px 2px 3px black;
            color: #cdd2cf;
            text-align: center;
            border: 0.2rem solid #a9a9a9;
            padding: 0.8rem 0 0.8rem 0;
            font-weight: bold;
            font-size: 1.6rem;
          }

          // データベスから取り出した内容
          &--data{
            width: 18.5rem;
            font-size: 1.4rem;
            text-align: center;
            border: 0.2rem solid #a9a9a9;
            padding: 0.8rem 0 0.8rem 0;
            background: whitesmoke;

            // 星アイコン
            .rank-star{
              color: #fbbc05;
              text-shadow: 0 1px 1px #333333;
            }
            .status-link__edit{
              text-decoration: none;
              color: #0000CD;
            }
            .status-link__edit:hover{
              opacity: 0.5;
            }
          }
        }
        // status.idが奇数だった場合の色
        #overlay-color{
          background: #DCDCDC;
        }
        // 自分のステータスを赤色の枠で囲う処理
        #current-user__row{
          border: solid 0.3rem #e5a323;
        }
      }
    }
  }

  .buttons{
    position: fixed;
    bottom: 9rem;
    right: 5%;
    z-index: 5;
    display: flex;
    align-items: center;

    // 拡大・縮小ボタン
    .resize-btn{
      height: 5.5rem;
      width: 5.5rem;
      box-sizing: border-box;
      margin-left: 1.5rem;
      background-color: black;
      color: white;
      border-radius: 100%;
      outline: 0;
      cursor: pointer;
      .common-zoom-icon{
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
      }
      .text{
        font-size: 1.2rem;
      }
    }

    // newページへのリンクボタン
    .link-btn{
      height: 8rem;
      width: 8rem;
      box-sizing: border-box;
      margin-left: 1.5rem;
      background-color: black;
      border-radius: 100%;
      outline: 0;
      .new-link{
        text-decoration: none;
        color: white;
        .pen-icon{
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }
        .text{
          font-size: 1.4rem;
        }
      }
    }
  }
}





// statuses/index レスポンシブ（タブレット対応）
@media screen and (max-width: 769px){
  .status-wrap {
    .buttons{
      .link-btn{
        height: 10.403vmin;
        min-height: 7rem;
        width: 10.403vmin;
        min-width: 7rem;
      }
    }
  }
}





// statuses/indexページ レスポンシブ（通常サイズのスマホ対応）
@media screen and (max-width: 481px){

  .status-wrap {
    height: calc(100% - 50px - 50px);
    top: 5rem;
    padding-top: 2rem;
    padding-bottom: 11rem;
    .table-wrap{

      // テーブルのタブ
      .status-tab{
        width: 80vmin;
        font-size: 1.4rem;
        li{
          border: 0.1rem solid #ccc;
        }
      }

      // テーブル
      .status-container{
        overflow: auto;
        .status-table{
          &__row{

            // 項目・見出し
            &--header{
              border: 0.1rem solid #a9a9a9;
              font-size: 1.4rem;
            }

            // データベスから取り出した内容
            &--data{
              border: 0.1rem solid #a9a9a9;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    .buttons{
      bottom: 7.5rem;

      // 拡大・縮小ボタン
      .resize-btn{
        height: 11.4345vmin;
        width: 11.4345vmin;
        min-height: 4rem;
        min-width: 4rem;
        .common-zoom-icon{
          font-size: 3.3264vmin;
          margin-bottom: 1.0395vmin;
        }
        .text{
          font-size: 2.4948vmin;
        }
      }

      // newページへのリンクボタン
      .link-btn{
        height: 14.553vmin;
        width: 14.553vmin;
        min-height: 4.5rem;
        min-width: 4.5rem;
        .new-link{
          .pen-icon{
            font-size: 4.158vmin;
            margin-bottom: 1.0395vmin;
          }
          .text{
            font-size: 2.91vmin;
          }
        }
      }
    }
  }
}





// statuses/new
// statuses/edit
.status-form-wrap {
  height: calc(100% - 60px);
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem 0 13.5rem 0;
  position: fixed;
  overflow: auto;
  background: black;
  background: rgba($color: #000000, $alpha: 0.9);
  color: white;
  text-align: center;
  .form-title{
    display: block;
    font-family: 'Impact', sans-serif;
    text-decoration: none;
    text-align: center;
    margin-bottom: 3.5rem;
    font-size: 4rem;
    color: #330066;
    text-shadow: 0.2rem 0.2rem 0  #008BBB,
                -0.2rem 0.2rem 0  #008BBB,
                0.2rem -0.2rem 0  #008BBB,
                -0.2rem -0.2rem 0  #008BBB;
  }

  .form-area{
    padding: 0 5% 0 5%;
    //エラーメッセージ
    .status-alert{
      color: #BA002F;
    }

    // テーブルの見出し
    .form-heading{
      width: 69rem;
      font-family: 'Impact', sans-serif;
      border-bottom: solid 0.2rem #AAAAAA;
      text-align: left;
      font-size: 2.3rem;
      margin: auto;
      margin-bottom: 0.6rem;
    }

    .form-heading.position-area{
      margin-top: 3.5rem;
    }

    // 見出しの補足
    .form-lead{
      width: 69rem;
      margin: auto;
      text-align: left;
      margin-bottom: 2.5rem;
    }

    // テーブル本体
    .form-table{
      margin: auto;
      box-sizing: border-box;
      width: 69rem;

      &__row{
        width: 100%;

        // 項目・見出し
        &--header{
          width: 30%;
          min-width: 13rem;
          box-sizing: border-box;
          padding: 2.5rem 0 2.5rem 0;
          text-align: left;
        }

        // 入力する内容
        &--data{
          width: 100%;
          box-sizing: border-box;
          padding: 2.5rem 0 2.5rem 0;
          text-align: left;

          // f.collection_select
          .select-field{
            width: 30rem;
            height: 4.5rem;
            padding: 0.5rem;
            box-sizing: border-box;
            background: white;
          }

          // f.text_field
          .input-field{
            width: 36rem;
            height: 4.5rem;
            padding: 0.5rem;
            box-sizing: border-box;
          }

          // time_selectのstart ∼ endの間隔
          .span{
            margin-right: 3rem;
          }

          .working-hour-hide-br{
            display: none;
          }

          // time_select
          #status_working_hour_attributes_start_at_4i{
            width: 5rem;
            height: 4.5rem;
            padding: 0.5rem;
            box-sizing: border-box;
            background: white;
          }
          #status_working_hour_attributes_start_at_5i{
            width: 5rem;
            height: 4.5rem;
            padding: 0.5rem;
            box-sizing: border-box;
            background: white;
          }
          #status_working_hour_attributes_end_at_4i{
            width: 5rem;
            height: 4.5rem;
            padding: 0.5rem;
            box-sizing: border-box;
            background: white;
          }
          #status_working_hour_attributes_end_at_5i{
            width: 5rem;
            height: 4.5rem;
            padding: 0.5rem;
            box-sizing: border-box;
            background: white;
          }

          // number-field
          .number-field{
            width: 10rem;
            height: 4.5rem;
            padding: 0.5rem;
            box-sizing: border-box;
            background: white;
          }
        }
      }
    }

    // 送信ボタン
    .submit-button{
      height: 8rem;
      width: 8rem;
      position: fixed;
      bottom: 9rem;
      right: 5%;
      z-index: 5;
      background-color:  black;
      border-color: white;
      border-radius: 100%;
      outline: 0;            //autofocus青線の打ち消し
      cursor: pointer;
      .paper-plane-icon{
        display: block;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: white;
      }
      .form-submit{
        font-size: 1.4rem;
        background: black;
        color: white;
        border: none;
      }
    }

    // javascriptのhistory.backでユーザーの訪問履歴を参照し、一つ前のページに戻る
    .history-back{
      display: none;
    }
  }
}





// statuses/new レスポンシブ（タブレット対応）
// statuses/edit
@media screen and (max-width: 769px){

  .status-form-wrap {
    .form-area{
      padding: 0 5% 0 5%;

      // テーブルの見出し
      .form-heading{
        width: 100%;
        max-width: 69rem;
      }

      // 見出しの補足
      .form-lead{
        width: 100%;
        max-width: 69rem;
      }

      // テーブル本体
      .form-table{
        width: 100%;
        max-width: 69rem;
        &__row{
          // // 入力する内容
          &--data{
            // f.collection_select
            .select-field{
              width: 100%;
              max-width: 30rem;
            }

            // f.text_field
            .input-field{
              width: 100%;
              max-width: 36rem;
            }

          // time_selectのstart ∼ endの間隔
          .span{
            display: none;
          }

            // time_select
            #status_working_hour_attributes_start_at_4i{
              margin-bottom: 1.5rem;
            }
            #status_working_hour_attributes_start_at_5i{
              margin-bottom: 1.5rem;
            }
            #status_working_hour_attributes_end_at_4i{
              margin-left: 0.55rem;
            }

            // number-field
            .number-field{
              width: 100%;
              max-width: 10rem;
            }
          }
        }
      }

      .submit-button{
        height: 10.403vmin;
        min-height: 7rem;
        width: 10.403vmin;
        min-width: 7rem;
      }
    }
  }
}





// statuses/new レスポンシブ 通常サイズのスマホ対応）
// statuses/edit
@media screen and (max-width: 481px){

  .status-form-wrap {
    height: 5rem;
    position: initial;
    overflow: initial;
    background: rgba($color: #000000, $alpha: 1.0);
    padding: initial;
    h1{
      display: inline-block;
      margin-top: 1.3rem;
      .form-title{
        width: 100%;
        font-size: 2rem;
        margin-bottom: initial;
        text-shadow: 0.1rem 0.1rem 0  #008BBB,
                      -0.1rem 0.1rem 0  #008BBB,
                      0.1rem -0.1rem 0  #008BBB,
                      -0.1rem -0.1rem 0  #008BBB;
      }
    }

    .form-area{
      height: calc(100% - 50px - 50px);
      width: 100%;
      box-sizing: border-box;
      position: fixed;
      top: 5rem;
      overflow: auto;
      text-align: center;
      padding: 2rem 5% 0 5%;
      background: black;
      background: rgba($color: #000000, $alpha: 0.9);
      color: white;
      border-top: solid 0.05rem #AAAAAA;
      border-bottom: solid 0.05rem #AAAAAA;
      //エラーメッセージ
      .status-alert{
        margin-bottom: 3rem;
        font-size: 1.4rem;
      }

      // テーブルの見出し
      .form-heading{
        width: 100%;
        max-width: initial;
        border-bottom: solid 0.1rem #AAAAAA;
        font-size: 1.8rem;
      }

      .form-heading.position-area{
        margin-top: 2rem;
      }

      // 見出しの補足
      .form-lead{
        max-width: initial;
        font-size: 1.3rem;
      }

      // テーブル本体
      .form-table{
        width: 100%;
        max-width: initial;

        &__row{
          // 項目・見出し
          &--header{
            width: 100%;
            display: block;
            min-width: initial;
            font-size: 1.4rem;
            text-align: center;
            box-sizing: border-box;
            padding: initial;
            margin-bottom: 0.4rem;
          }

          // 入力する内容
          &--data{
            width: 100%;
            display: block;
            font-size: 1.4rem;
            text-align: center;
            padding: initial;
            margin-bottom: 3.5rem;

            // f.collection_select
            .select-field{
              width: 75%;
              max-width: initial;
              height: 4rem;
            }

            // f.text_field
            .input-field{
              width: 85%;
              max-width: initial;
              height: 4rem;
            }

            // 時間の選択ボックス
            #status_working_hour_attributes_start_at_4i{
              height: 3rem;
              padding: initial;
            }
            #status_working_hour_attributes_start_at_5i{
              height: 3rem;
              padding: initial;
            }
            #status_working_hour_attributes_end_at_4i{
              height: 3rem;
              padding: initial;
            }
            #status_working_hour_attributes_end_at_5i{
              height: 3rem;
              padding: initial;
            }

            // number-field
            .number-field{
              height: 4rem;
              width: 35%;
              max-width: 10rem;
              min-width: 8rem;
            }
          }
        }
      }

      // 送信ボタン
      .submit-button{
        height: 3rem;
        min-height: initial;
        width: 5.5rem;
        min-width: initial;
        position: fixed;
        top: 1rem;
        right: 5%;
        border-radius: 1rem;
        .paper-plane-icon{
          display: none;
        }
      }

      // javascriptのhistory.backでユーザーの訪問履歴を参照し、一つ前のページに戻る
      .history-back{
        display: inline-block;
        color: white;
        position: fixed;
        left: 5%;
        top: 1.65rem;
        font-size: 1.7rem;
      }
    }
  }
}