.member-wrap
  = render "share/header"
  %ul.tab
    %li.active Status
    %li Position
  .contents
    .content.active
      %table.active
        %thead
          %th No.
          %th Name
          %th Company
          %th Working hours
          %th Break time
          %th Lunch box
          %th Change of clothes
        %tbody
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
    #switch.content
      %table
        %thead
          %th No.
          %th Name
          %th Company
          %th Setup
          %th Opening
          %th Start
          %th End
        %tbody
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
          %tr
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ
            %td コンテンツ


  = render "share/navigation"